.form{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    align-items: center;
    width: 600px;
    height: 800px;
    background: linear-gradient(90deg, #83a7cbb1 0%, #332433b4 100%);
    border-radius: 10%;
    padding: 15px;
    border: 2px solid beige;
    box-shadow: 8px 8px 59px -5px rgba(0,0,0,0.91);
    -webkit-box-shadow: 8px 8px 59px -5px rgba(0,0,0,0.91);
    -moz-box-shadow: 8px 8px 59px -5px rgba(0,0,0,0.91);
    
}
.containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../img/patron.jpg);
    height: 100vh;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
}
.genresContainer{
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
}
.buttonCreate{
    background-color: rgb(0, 0, 0);
    color: bisque;
    height: 30px;
    width: 100px;
    font-weight: 700;
    border: 2px solid rgb(125, 125, 125);
    border-radius: 15%;
    cursor: pointer;
    margin: 4px;
    transition: 1s;
}

.buttonCreate:hover{
    background-color: rgb(0, 0, 0);
    color: bisque;
    height: 30px;
    width: 100px;
    font-weight: 700;
    border: 2px solid rgb(125, 125, 125);
    border-radius: 15%;
    cursor: pointer;
    margin: 4px;
    box-shadow: 5px 5px 6px 1px black;
    transition: 0.5s;
}



