@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');


.containerLanding{
    background: url(../img/HOME.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover; /* Para navegadores webkit como Chrome y Safari */
    -moz-background-size: cover; /* Para navegadores Firefox */
    -o-background-size: cover; /* Para navegadores Opera */
    background-color: #000;
    
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content :center
    
}
.containerButton{


.btn{
height: 90px;
width: 250px;
font-family: Roboto, sans-serif;
font-weight: 800;
font-size: 30px;
color: #fff;
background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%);
transition: 150ms;
border-radius:20%;
border: 2px solid rgb(255, 255, 255);



}

.btn:hover{
    height: 90px;
    width: 270px;
    font-weight: 800;
font-size: 30px;
    background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%);
    transition : 150ms;
    cursor: pointer;
    border-radius: 20%;
    border: 2px solid rgb(248, 31, 31)


}


}