@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');


.containerLanding{
    background: url(../img/skirym.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-color: #000;
    
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content :center;
    gap: 50px;
    
}


.imgStart{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
    
    transition: 0.5s;
  
}
.imgStart:hover{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow:  8px 5px 15px 5px black;
    transition: 0.5s;
  
}


.divimg{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
   
}
.img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    
    box-shadow: 8px 5px 15px 5px;
}
